# Import Package

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from scipy.sparse import csr_matrix
import matplotlib.pyplot as plt

# Read txt file

In [ ]:
import csv

input_file_path = '/Users/yufang/Desktop/Netflix Project/combined_data_1.txt' 
output_file_path = 'movies_rating1.csv'  

data = []
current_movie_id = None

# Read input file
with open(input_file_path, 'r') as file:
    for line in file:
        line = line.strip()

        if line.endswith(':'):
            current_movie_id = line[:-1]  # get movie id
        else:
            user_id, rating, date = line.split(',')
            data.append([current_movie_id, user_id, rating, date])

with open(output_file_path, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['movie_id', 'user_id', 'rating', 'date'])
    writer.writerows(data)

print(f"Write data '{input_file_path}' to '{output_file_path}")

Write data '/Users/yufang/Desktop/Netflix Project/combined_data_1.txt' to 'movies_rating1.csv

In [ ]:
input_file_path = '/Users/yufang/Desktop/Netflix Project/combined_data_2.txt' 
output_file_path = 'movies_rating2.csv'  

data = []
current_movie_id = None

# Read input file
with open(input_file_path, 'r') as file:
    for line in file:
        line = line.strip()

        if line.endswith(':'):
            current_movie_id = line[:-1]  # get movie id
        else:
            user_id, rating, date = line.split(',')
            data.append([current_movie_id, user_id, rating, date])

with open(output_file_path, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['movie_id', 'user_id', 'rating', 'date'])
    writer.writerows(data)
print(f"Write data '{input_file_path}' to '{output_file_path}")

Write data '/Users/yufang/Desktop/Netflix Project/combined_data_2.txt' to 'movies_rating2.csv

In [ ]:
input_file_path = '/Users/yufang/Desktop/Netflix Project/combined_data_3.txt' 
output_file_path = 'movies_rating3.csv'  

data = []
current_movie_id = None

# Read input file
with open(input_file_path, 'r') as file:
    for line in file:
        line = line.strip()

        if line.endswith(':'):
            current_movie_id = line[:-1]  # get movie id
        else:
            user_id, rating, date = line.split(',')
            data.append([current_movie_id, user_id, rating, date])

with open(output_file_path, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['movie_id', 'user_id', 'rating', 'date'])
    writer.writerows(data)
    
print(f"Write data '{input_file_path}' to '{output_file_path}")

Write data '/Users/yufang/Desktop/Netflix Project/combined_data_3.txt' to 'movies_rating3.csv

In [ ]:
input_file_path = '/Users/yufang/Desktop/Netflix Project/combined_data_4.txt' 
output_file_path = 'movies_rating4.csv'  

data = []
current_movie_id = None

# Read input file
with open(input_file_path, 'r') as file:
    for line in file:
        line = line.strip()

        if line.endswith(':'):
            current_movie_id = line[:-1]  # get movie id
        else:
            user_id, rating, date = line.split(',')
            data.append([current_movie_id, user_id, rating, date])

with open(output_file_path, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['movie_id', 'user_id', 'rating', 'date'])
    writer.writerows(data)
print(f"Write data '{input_file_path}' to '{output_file_path}")

Write data '/Users/yufang/Desktop/Netflix Project/combined_data_4.txt' to 'movies_rating4.csv

# Data Preparation

In [2]:
movie_title = pd.read_csv('movie_titles.csv', header=None,delimiter='\t', names=['Combined'], encoding='latin1')
movie_title[['ID', 'Year', 'Title']] = movie_title['Combined'].str.split(',', n=2, expand=True)
movie_title = movie_title.drop(columns=['Combined'])

In [3]:
movie_rating1 = pd.read_csv('movies_rating1.csv')
movie_rating2 = pd.read_csv('movies_rating2.csv')
movie_rating3 = pd.read_csv('movies_rating3.csv')
movie_rating4 = pd.read_csv('movies_rating4.csv')

In [4]:
movie_rating = pd.concat([movie_rating1, movie_rating2, movie_rating3, movie_rating4])

In [5]:
movie_rating['date'] = pd.to_datetime(movie_rating['date'])

In [6]:
movie_rating.sort_values(by='date', inplace=True)
print(len(movie_rating))

100480507

In [7]:
movie_title['ID'] = movie_title['ID'].astype('int64')
movie = movie_rating.merge(movie_title, left_on='movie_id', right_on='ID', how='left')
movie = movie.drop(columns=['ID'])
print(len(movie))

100480507

# Train-test split

In [8]:
movie_slice = movie.iloc[-180000:] # get last 100000 entries since it's most relevant
print(len(movie_slice))

180000

In [9]:
test = movie_slice[160000:]
test

,movie_id,user_id,rating,date,Year,Title
100460507,16445,1250138,2,2005-12-31,2003,"House of 1,000 Corpses"
100460508,6850,714682,1,2005-12-31,2005,Lords of Dogtown
100460509,3441,859907,2,2005-12-31,2005,Kicking & Screaming
100460510,10748,2373473,3,2005-12-31,1987,Hamburger Hill
100460511,5496,1678873,2,2005-12-31,2004,"I, Robot"
...,...,...,...,...,...,...
100480502,8993,2183787,4,2005-12-31,2005,Family Guy Presents: Stewie Griffin: The Untol...
100480503,7430,258170,4,2005-12-31,2001,Six Feet Under: Season 1
100480504,8467,1534359,5,2005-12-31,1996,Eraser
100480505,10168,2543295,2,2005-12-31,2003,The League of Extraordinary Gentlemen
100480506,4736,1346243,5,2005-12-31,1981,Chariots of Fire

In [10]:
train = movie_slice[:160000]
train

,movie_id,user_id,rating,date,Year,Title
100300507,17147,427460,4,2005-12-29,1996,She's the One
100300508,4353,1605111,5,2005-12-29,2002,Curb Your Enthusiasm: Season 3
100300509,3923,13949,3,2005-12-29,1997,Beverly Hills Ninja
100300510,6874,200779,3,2005-12-29,2003,The Cooler
100300511,12582,851475,4,2005-12-29,2003,Mystic River
...,...,...,...,...,...,...
100460502,13629,1318034,4,2005-12-31,1951,Alice in Wonderland
100460503,17324,1719503,4,2005-12-31,2005,Hitch
100460504,17324,22846,5,2005-12-31,2005,Hitch
100460505,3860,1799620,2,2005-12-31,2003,Bruce Almighty
100460506,2153,1635209,5,2005-12-31,1993,Free Willy

In [11]:
from sklearn.model_selection import train_test_split
individual_train, ensemble_train = train_test_split(train, test_size=0.5, random_state=42)
print(len(individual_train))
print(len(ensemble_train))

80000
80000

In [14]:
# Create train_nb_ls and test_nb_ls for model fitting
X_train_nb_ls = individual_train[['user_id', 'movie_id']].rename(columns={ 'movie_id': 'item_id'})
y_train_nb_ls = individual_train['rating']
train_nb_ls = X_train_nb_ls.copy()
train_nb_ls['rating'] = y_train_nb_ls
test_nb_ls = test.rename(columns={'movie_id': 'item_id'})
print(len(train_nb_ls))
print(len(test_nb_ls))

80000
20000

# Implement NB-LS Class

In [15]:
class NeighborhoodLS:
    def __init__(self, alpha=1.0, lambda_=1.0, top_n=6000):
        self.alpha = alpha  # Amplification factor
        self.lambda_ = lambda_  # Regularization term
        self.top_n = top_n  # top_n items with most ratings for calculating similarities
        self.similarity_matrix_ = None
        self.global_mean = None

    def fit(self, ratings):
        self.ratings = ratings
        self.global_mean = ratings['rating'].mean() # Compute global mean

        self.item_means = ratings.groupby('item_id')['rating'].mean().to_dict() # Compute item mean
        self.user_means = ratings.groupby('user_id')['rating'].mean().to_dict() # Compute user mean
        
        # Get the top N most-rated items
        self.top_items = self.get_item_most_rating(ratings, self.top_n)

        user_index = ratings['user_id'].unique()
        item_index = ratings['item_id'].unique()
        self.user_mapping = {user_id: i for i, user_id in enumerate(user_index)}  # Map user_id to indices
        self.item_mapping = {item_id: i for i, item_id in enumerate(item_index)}  # Map item_id to indices

        # Create sparse matrix
        self.user_item_matrix = csr_matrix(
            (ratings['rating'], (ratings['user_id'].map(self.user_mapping), ratings['item_id'].map(self.item_mapping))),
            shape=(len(user_index), len(item_index))
        )

        # Create similarity matrix
        self.similarity_matrix_ = self._compute_similarity()
        return self

    def get_item_most_rating(self, ratings, top_n):
        item_counts = ratings.groupby('item_id').size() # Count how many item in the ratings DataFrame
        top_items = item_counts.nlargest(top_n).index.tolist() # Get the top_n items with most ratings
        return top_items

    def _compute_similarity(self):
        top_item_indices = [self.item_mapping[item_id] for item_id in self.top_items if item_id in self.item_mapping]
        num_items = len(top_item_indices) # Only calculate similarity between 6000 items with most ratings
        similarity_matrix = np.zeros((len(self.item_mapping), len(self.item_mapping))) # Initialize similarity matrix

        # Create matrix B based on T_u^(-0.5)
        B = (self.user_item_matrix != 0).astype(float)
        item_counts = np.array(B.sum(axis=0)).flatten()
        for i, count in enumerate(item_counts):
            if count > 0:
                B[:, i] /= np.sqrt(count)

        B_top_n = B[:, top_item_indices] # Consider only top_n items with most ratings

        # Compute (B^TB + lambda * I)^-1 for top_n items
        B_T_B = B_top_n.T @ B_top_n
        identity = np.identity(num_items)
        inverse_term = np.linalg.inv(B_T_B + self.lambda_ * identity)

        # Compute similarity
        for i in top_item_indices: # Loop over top_n items with most ratings
            item_ratings = self.user_item_matrix[:, i].toarray().flatten()
            rated_by_users = np.where(item_ratings != 0)[0]

            # Create B_i and r_i for the specific item i
            B_i = B[rated_by_users, :][:, top_item_indices]
            r_i = item_ratings[rated_by_users].reshape(-1, 1)

            # Compute similarity vector s_i
            B_i_T_r_i = B_i.T @ r_i
            s_i = self.alpha * (inverse_term @ B_i_T_r_i).flatten()
            similarity_matrix[i, top_item_indices] = s_i

        return similarity_matrix

    def baseline_prediction(self, user_id, item_id):
        user_avg = self.user_means.get(user_id, self.global_mean) # Compute user average
        item_avg = self.item_means.get(item_id, self.global_mean) # Compute item average
        baseline = 0.5 * user_avg + 0.5 * item_avg # (50% user average, 50% item average)
        return baseline

    def predict_pair(self, user_id, item_id):
        # Use baseline prediction for unknown users and items
        if user_id not in self.user_mapping or item_id not in self.item_mapping:
            return self.baseline_prediction(user_id, item_id)

        user_idx = self.user_mapping[user_id]
        item_idx = self.item_mapping[item_id]

        # Use baseline prediction for items not in top_n most rated items
        if item_idx not in self.similarity_matrix_:
            return self.baseline_prediction(user_id, item_id)

        # Compute prediction for items with known similarities
        user_ratings = self.user_item_matrix[user_idx].toarray().flatten()
        similarities = self.similarity_matrix_[item_idx]

        # Use baseline prediction for items with 0 ratings
        rated_items = user_ratings > 0
        if np.sum(rated_items) == 0:
            return self.baseline_prediction(user_id, item_id)

        # Compute the sum of dot product between interpolation weight and subprediction
        interpolation_subprediction_sum = np.dot(similarities[rated_items], user_ratings[rated_items])
        
        # Use sim_sum as a regularization term
        sim_sum = np.sum(np.abs(similarities[rated_items]))

        if sim_sum > 0:
            predicted_rating = interpolation_subprediction_sum / sim_sum
        else:
            predicted_rating = self.baseline_prediction(user_id, item_id)
            
        return predicted_rating # Prediction of r_ui

    def predict(self, X):
        return [self.predict_pair(row['user_id'], row['item_id']) for _, row in X.iterrows()]

    def compute_rmse(self, X):
        predictions = self.predict(X)
        true_ratings = X['rating'].values # True ratings from the testing dataset
        rmse = np.sqrt(mean_squared_error(true_ratings, predictions))
        return rmse

# Model Fit & Results

In [17]:
# RMSE with 100000 entries, 7min
model_nb_ls = NeighborhoodLS(alpha=3, lambda_=4000, top_n=6000)
model_nb_ls.fit(train_nb_ls)
rmse_nb_ls = model_nb_ls.compute_rmse(test_nb_ls)
print(f"Test RMSE: {rmse_nb_ls:.15f}")

Test RMSE: 0.958317622104055

# Predictions

In [21]:
X_train_nb_ls_ensemble = ensemble_train[['user_id', 'movie_id']].rename(columns={ 'movie_id': 'item_id'})
y_train_nb_ls_ensemble = ensemble_train['rating']
train_nb_ls_ensemble = X_train_nb_ls_ensemble.copy()
train_nb_ls_ensemble['rating'] = y_train_nb_ls_ensemble
test_nb_ls_ensemble = test.rename(columns={'movie_id': 'item_id'})
print(len(train_nb_ls_ensemble))
print(len(test_nb_ls_ensemble))

80000
20000

In [22]:
pred = model_nb_ls.predict(train_nb_ls_ensemble)

In [ ]:
pred_array = np.array(pred)
train_pred = pd.DataFrame(pred_array, columns=['predicted_rating_nb_ls'])
train_pred.to_csv('predicted_rating_nb_ls_train.csv', index=False)

In [ ]:
pred_test = model_nb_ls.predict(test_nb_ls_ensemble)

In [25]:
pred_array_test = np.array(pred_test)
test_pred = pd.DataFrame(pred_array_test, columns=['predicted_rating_nb_ls'])
test_pred.to_csv('predicted_rating_nb_ls_test.csv', index=False)

In [3]:
nb_ls_ratings_train = pd.read_csv('predicted_rating_nb_ls_train.csv')
nb_ls_ratings_train

       predicted_rating_nb_ls
0                    3.657468
1                    4.437715
2                    3.557692
3                    4.287962
4                    4.336538
...                       ...
79995                3.888232
79996                3.145349
79997                3.797619
79998                3.377966
79999                3.958048

[80000 rows x 1 columns]

In [4]:
nb_ls_ratings_test = pd.read_csv('predicted_rating_nb_ls_test.csv')
nb_ls_ratings_test

       predicted_rating_nb_ls
0                    2.849673
1                    3.369841
2                    3.343739
3                    3.333333
4                    3.666804
...                       ...
19995                4.035714
19996                3.805029
19997                4.182927
19998                2.993351
19999                3.900000

[20000 rows x 1 columns]